

.notification-bar {
    padding: 10px;
    text-align: center;
    z-index: 1050;
    display: none;
}
.notification-success {
    background-color: green;
    color: #ffffff;margin: 15px;
}
.notification-error {
    background-color: red;
    color: #ffffff;margin: 15px;
}
.close-btn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.close-btn:hover {
    color: #999;
}
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.popup-content {
    text-align: center;
}
.popup-btns {
    margin-top: 20px;
}



